//MatDivider
.mat-divider {
  margin: 1rem 0 !important;
}

//MatFormFieldModule
mat-form-field {
  width: 100%;
}

//MatTableModule
.mat-mdc-row {
  transition: 0.2s;

  &:hover {
    background-color: darken(#fdfbff, 5%);
  }
}
