<div class="app-container">
  <h1 class="heading">Atipera Fuctional Table</h1>

  <mat-divider />

  <section class="table-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [formControl]="filterFormControl" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <app-periodic-table
      [dataSource]="dataSource"
      [filteredInputValue]="filterFormControl.value"
      (editBtnClick)="handleTableRowEditBtnClick($event)" />
  </section>
</div>
